@model De2_AI_Agent.Models.RecoomendSuperclass
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<form class="form-horizontal">
    <div class="row">

        <div class="col-md-10">
            <table class="table table-striped table-responsive">
                <tr>
                    <th>Name</th>
                    <th>Location</th>
                    <th>Incomegroup</th>
                    <th></th>

                </tr>
                @foreach (var item in Model.studentAccomodations)
                {
                    <tr>
                        <td>@item.Name</td>

                        <td>@item.location</td>

                        <td>@item.IncomeGroup</td>

                        <td> @Html.ActionLink("Rate it", "RateAccomodation", "Ratings", new { RateId = item.Id }, null)</td>
                    </tr>
                }
            </table>

        </div>
        <div class="col-md-2">
            
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <a href="@Url.Action("ShowRecom","Recommend")"   value="View recommendations" class="btn btn-default" />
                </div>
            </div>
        </div>
    </div>
</form>

<script>

    $(document).ready(function () {

        $("#submit").click(function () {
            var areas = $("#area").val();
            var incomegroup = $("#incomegroup").val();

            console.log("area", areas);
            console.log("icnom stream", incomegroup);
            
            $.ajax({
                type: 'POST',
                url: "/Recommend/Index",
                data: { income: $("#incomegroup").val(), area: $("#area").val() },
                cache: false,
                success: function (data) {
                        console.log("response", data);
                    },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log("error response", textStatus);
                    }

            });
        });

    });


</script>