@model De2_AI_Agent.Models.StudentAccomodationSuper

@{
    ViewBag.Title = "ShowRecommendations";
}

<h2>Show Recommendations</h2>


<
<p>
    <h3>Overall</h3>
</p>
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Location
        </th>
        <th>
            Decsription
        </th>
        
        <th>
            Incomegroup
        </th>
       
        <th></th>
    </tr>
    @{ if ((bool)TempData["nullOverall"] != true)
        {
            foreach (var item in Model.overalRecommendations)
            {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.location)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            
            <td>
                @Html.DisplayFor(modelItem => item.IncomeGroup)
            </td>
            
            <td>
                @Html.ActionLink("Rate it", "RateAccomodation", "Ratings", new { RateId = item.Id },null) | @Html.ActionLink("View","ViewAccomo","Recommend",new { ViewId = item.Id },null)
            </td>
        </tr>
            }
        }
        }
</table>

@*<h2>By safety</h2>
<table>
    @{ if((bool)TempData["nullSafety"] == false ) { 
        @foreach (var item in Model.basedOnSafety)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImageUrl)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IncomeGroup)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AccomodationOwnerUsersId)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }
}
    }
</table>*@

<p>
    <h3>By Reviews </h3>
</p>
<table class="table table-striped table-responsive">
    @{ if ((bool)TempData["nullSentiment"] != true)
        {
foreach (var item in Model.basedOnsentiment)
{
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.location)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ImageUrl)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IncomeGroup)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AccomodationOwnerUsersId)
        </td>
        <td>
            @Html.ActionLink("View/Rate it", "RateAccomodation", "Ratings", new { RateId = item.Id }, null)
        </td>
    </tr>
}
            }
        }
</table>

